body {
    font-family: Arial, sans-serif;
    background-color: #81e6ff;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .container {
    background-color: #98eaff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 2px 4px rgb(255, 255, 255);
  }
  
  form {
    display: grid;
    gap: 10px;
  }
  
  label {
    font-weight: bold;
  }
  
  input, button {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  
  button {
    background-color: #9eff81;
    color: #fff;
    border: none;
    cursor: pointer;
  }
  