body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
  }
  
  .container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }
  
  h1 {
    margin-top: 0;
  }
  
  /* ... (otros estilos) ... */

#counter {
    font-size: 36px;
    margin-bottom: 10px;
    animation: moveAnimation 0.5s ease-in-out;
  }
  
  @keyframes moveAnimation {
    0%, 100% {
      transform: translateY(0);
    }
    25%, 75% {
      transform: translateY(-10px);
    }
  }
  
  
  #incrementButton {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  #incrementButton:hover {
    background-color: #0056b3;
  }
  
  
  